/slurm_out
bash_snippets.txt
ilya
/data
/models
archive
magic_commands.txt
documents
*.ipynb_checkpoints*
reports
inventory.txt
paths.sh
notebooks
pileup_finished_models
finished_models
debug_models
killed_models
interrupted_models
email_addresses.txt
recnn-gated-gilles.py
.git
*.pyc
*.pyo
*/__pycache__/*
